<footer class="py-3"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<div class="copy-bottom-txt text-center py-3 social-icons mt-lg-3 mt-2 text-center">
    <div class = "footer-container">
<p>
© 2022 PC-MATRIX. Все права не защищены | MIREA <a href="#" target="_blank">Zemskiy N.S.</a>
</p>
<ul>
    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
    <li><a href="#"><span class="fa fa-rss"></span></a></li>
    </ul>
    </div>
</div>

</footer>
<!-- CDN подключение иконок fontawesome -->
<script src="https://use.fontawesome.com/df966d76e1.js"></script>